@import url("https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--bg-color);
}
